<template>

  <div class="edit">
    <b-container>
        <hr>
            <h3>Edit User:</h3>
            <b-form @submit="onSubmit">
                <div class="field">
                    <label class="label">Initial String:</label>
                    <div class="control">
                        <b-form-input class="input" type="text" v-model="secondary_object" />
                    </div>
                </div>
                <br>
                <b-button type="submit" variant="primary">Save User</b-button>

                <br>
                <br>
                <hr>
                <hr>

                <div class="field">
                    <label class="label">Name:</label>
                    <div class="control">
                        <b-form-input class="input" type="text" v-model="name" />
                    </div>
                </div>
                <br>
                <div class="field">
                    <label class="label">Gender:</label>
                    <b-form-radio-group v-model="gender">
                        <b-form-radio name="gender" value="Male">Male</b-form-radio>
                        <b-form-radio name="gender" value="Female">Female</b-form-radio>
                    </b-form-radio-group>
                </div>
                <br>
                <div>
                    <label class="label">Country:</label>
                    <b-form-select v-model="country"
                    id="inline-form-custom-select-pref"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    :options="[{ text: 'Choose...', value: null }, 'Costa Rica', 'México', 'USA', 'Panamá', 'Chile']"
                    :value="null"
                    ></b-form-select>
                </div>
                <br>
                <div class="field">
                    <label class="label">Languages:</label>
                    <div class="control">
                        <b-form-checkbox-group id="checkbox-group-2" v-model="languages" name="languages" >
                            <b-form-checkbox value="Spanish">Spanish</b-form-checkbox>
                            <b-form-checkbox value="English">English</b-form-checkbox>
                            <b-form-checkbox value="French">French</b-form-checkbox>
                            <b-form-checkbox value="Portuguese">Portuguese</b-form-checkbox>
                            <b-form-checkbox value="Germany">Germany</b-form-checkbox>
                            <b-form-checkbox value="Italian">Italian</b-form-checkbox>
                        </b-form-checkbox-group>
                    </div>
                </div>
                <br>
                <div class="field">
                    <label class="label">Age</label>
                    <div class="control">
                        <h4 class="title is-4">
                            Selected Age: {{age}}
                        </h4>
                        <b-form-input type="range" min="0" max="100" v-model="age" />
                    </div>
                </div>
            </b-form>
            <br><br>
            <b-button href="/">Back to Index</b-button>
            <br><br>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src

import firebase from "../firebaseInit";

const db = firebase.firestore();

export default {
  name: 'Secondary',
  props: {
    initial_object: '',
    secondary_object: ''
  },
  data() {
      return {
        name: '',
        gender: '',
        country: null,
        languages: [],
        age: 0,
        initial_string: false
      }
    },
  methods: {
      onSubmit(evt) {
        evt.preventDefault();
        var initial_object_array = this.secondary_object.split('|');
        this.name = initial_object_array[0];
        this.gender = initial_object_array[1];
        this.country = initial_object_array[2];
        this.languages = initial_object_array[3].split(',');
        this.age = initial_object_array[4];
        this.initial_string = false;
        var new_user = { name: this.name, gender: this.gender, country: this.country, languages: this.languages, age: this.age, initial_string: false };
        this.addUser(new_user);
        if (this.initial_object != this.secondary_object){
            this.showToast();
        }
      },
      addUser(new_user) {
        db.collection("users")
          .add(new_user)
          .then(() => {
            console.log("Document successfully saved!");
          })
          .catch((error) => {
            console.error("Error writing document: ", error);
          });
      },
      showToast() {
        this.$bvToast.toast(`The initial string have been changed`, {
          title: 'APP Message',
          autoHideDelay: 5000
        })
      }
    }
}
</script>
</script>
