<template>

  <div class="index">
    <b-container>
        <hr>
            <h3>Add User:</h3>
            <b-form @submit="onSubmit" @reset="onReset">
                <div class="field">
                    <label class="label">Name:</label>
                    <div class="control">
                        <b-form-input class="input" type="text" v-model="name" />
                    </div>
                </div>
                <br>
                <div class="field">
                    <label class="label">Gender:</label>
                    <b-form-radio-group v-model="gender">
                        <b-form-radio name="gender" value="Male">Male</b-form-radio>
                        <b-form-radio name="gender" value="Female">Female</b-form-radio>
                    </b-form-radio-group>
                </div>
                <br>
                <div>
                    <label class="label">Country:</label>
                    <b-form-select v-model="country"
                    id="inline-form-custom-select-pref"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    :options="[{ text: 'Choose...', value: null }, 'Costa Rica', 'México', 'USA', 'Panamá', 'Chile']"
                    :value="null"
                    ></b-form-select>
                </div>
                <br>
                <div class="field">
                    <label class="label">Languages:</label>
                    <div class="control">
                        <b-form-checkbox-group id="checkbox-group-2" v-model="languages" name="languages">
                            <b-form-checkbox value="Spanish">Spanish</b-form-checkbox>
                            <b-form-checkbox value="English">English</b-form-checkbox>
                            <b-form-checkbox value="French">French</b-form-checkbox>
                            <b-form-checkbox value="Portuguese">Portuguese</b-form-checkbox>
                            <b-form-checkbox value="Germany">Germany</b-form-checkbox>
                            <b-form-checkbox value="Italian">Italian</b-form-checkbox>
                        </b-form-checkbox-group>
                    </div>
                </div>
                <br>
                <div class="field">
                    <label class="label">Age</label>
                    <div class="control">
                        <p class="title is-4">
                            <strong>Selected Age: {{age}}</strong>
                        </p>
                        <b-form-input type="range" min="0" max="100" v-model="age" />
                    </div>
                </div>

                <b-button type="submit" variant="primary">Add User</b-button>
                |
                <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
            <br>
            <br>
            <hr>
            <hr>
            <br>
            <h3>List of users:</h3>
            <b-table striped hover :items="users"></b-table>
    </b-container>
  </div>
</template>

<script>

import firebase from "../firebaseInit";

const db = firebase.firestore();

export default {
  name: 'Index',
  data() {
      return {
        name: '',
        gender: '',
        country: null,
        languages: [],
        age: 0,
        initial_string: true,
        users: this.readUsers()
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault();
        var initial_object = this.name + "|" + this.gender + "|" + this.country + "|" + this.languages + "|" + this.age;
        var new_user = { name: this.name, gender: this.gender, country: this.country, languages: this.languages, age: this.age, initial_string: true };
        this.name = '';
        this.gender = '';
        this.country = null;
        this.languages = [];
        this.age = 0;
        this.addUser(new_user);
        this.$router.push({ name: 'Secondary', params: { initial_object: initial_object, secondary_object: initial_object } })
      },
      onReset(evt) {
        evt.preventDefault();
        this.name = '';
        this.gender = '';
        this.country = null;
        this.languages = [];
        this.age = 0;
      },
      addUser(new_user) {
        db.collection("users")
          .add(new_user)
          .then(() => {
            console.log("Document successfully saved!");
          })
          .catch((error) => {
            console.error("Error writing document: ", error);
          });
      },
      readUsers() {
        let users = [];
        db.collection("users").get()
        .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
            users.push({
                name: doc.data().name,
                gender: doc.data().gender,
                country: doc.data().country,
                languages: doc.data().languages,
                age: doc.data().age,
                initial_string: doc.data().initial_string
              });
              console.log(doc.id, " => ", doc.data());
            });
            return users
        })
        .catch((error) => {
          console.log("Error getting documents: ", error);
        });
        

        return users;
    }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
